# Historic Arrest Data -- Data Cleaning and Wrangling

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import datetime as dt

In [3]:
path = r'Desktop/Data Sets/NYPD_Arrests_Data__Historic_.csv'

In [ ]:
df = pd.read_csv(os.path.join(path), index_col = False)

In [5]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236791704,11/22/2021,581.0,NaN,NaN,NaN,PL 2225001,M,M,28.0,0.0,45-64,M,BLACK,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056)
1,237354740,12/04/2021,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41.0,0.0,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034)
2,236081433,11/09/2021,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113.0,0.0,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003)
3,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27.0,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
4,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25.0,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)

In [6]:
df.describe()

,ARREST_KEY,PD_CD,KY_CD,ARREST_PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,1.049993e+06,1.049757e+06,1.046878e+06,1.049992e+06,1.049986e+06,1.049991e+06,1.049991e+06,1.049991e+06,1.049991e+06
mean,1.563861e+08,4.600729e+02,2.699980e+02,6.210548e+01,1.864124e+00,1.005280e+06,2.088217e+05,4.073980e+01,-7.392409e+01
std,8.149884e+07,2.764646e+02,1.672901e+02,3.481660e+01,1.189413e+01,2.097394e+04,4.461548e+04,1.215910e-01,7.564247e-02
min,9.926901e+06,0.000000e+00,1.010000e+02,1.000000e+00,0.000000e+00,9.135120e+05,1.211310e+05,4.049891e+01,-7.425438e+01
25%,1.714572e+08,2.030000e+02,1.170000e+02,3.400000e+01,0.000000e+00,9.915910e+05,1.861010e+05,4.067742e+01,-7.397355e+01
50%,1.907908e+08,4.750000e+02,2.360000e+02,6.100000e+01,0.000000e+00,1.004696e+06,2.078130e+05,4.073708e+01,-7.392617e+01
75%,2.104762e+08,7.290000e+02,3.470000e+02,9.000000e+01,0.000000e+00,1.017119e+06,2.361500e+05,4.081485e+01,-7.388151e+01
max,2.385139e+08,9.970000e+02,9.950000e+02,1.230000e+02,9.700000e+01,1.067302e+06,7.250292e+06,5.965727e+01,-7.368178e+01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049993 entries, 0 to 1049992
Data columns (total 19 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   ARREST_KEY         1049993 non-null  int64
 1   ARREST_DATE        1049992 non-null  object
 2   PD_CD              1049757 non-null  float64
 3   PD_DESC            1046878 non-null  object
 4   KY_CD              1046878 non-null  float64
 5   OFNS_DESC          1046878 non-null  object
 6   LAW_CODE           1049874 non-null  object
 7   LAW_CAT_CD         1043176 non-null  object
 8   ARREST_BORO        1049992 non-null  object
 9   ARREST_PRECINCT    1049992 non-null  float64
 10  JURISDICTION_CODE  1049986 non-null  float64
 11  AGE_GROUP          1049975 non-null  object
 12  PERP_SEX           1049992 non-null  object
 13  PERP_RACE          1049992 non-null  object
 14  X_COORD_CD         1049991 non-null  float64
 15  Y_COORD_CD         1049991 non-null  float64
 16  Latitude           1049991 non-null  float64
 17  Longitude          1049991 non-null  float64
 18  Lon_Lat            1049991 non-null  object
dtypes: float64(8), int64(1), object(10)
memory usage: 152.2+ MB

In [8]:
df['PD_DESC'].value_counts()

PD_DESC
ASSAULT 3                         110806
ASSAULT 2,1,UNCLASSIFIED           53882
LARCENY,PETIT FROM OPEN AREAS,     46085
TRAFFIC,UNCLASSIFIED MISDEMEAN     40041
MARIJUANA, POSSESSION 4 & 5        34655
                                   ...
FIREARMS LICENSING LAWS                1
LOITERING FOR PROSTITUTION OR          1
UNLAWFUL POSS. WEAPON UPON SCH         1
NYC UNCLASSIFIED WARRANT               1
USING SLUGS, 2ND                       1
Name: count, Length: 407, dtype: int64

In [15]:
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'])

In [16]:
df['month'] = df['ARREST_DATE'].dt.month
df['year'] = df['ARREST_DATE'].dt.year

In [17]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,month,year
0,236791704,2021-11-22,581.0,NaN,NaN,NaN,PL 2225001,M,M,28.0,...,45-64,M,BLACK,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056),11.0,2021.0
1,237354740,2021-12-04,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41.0,...,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034),12.0,2021.0
2,236081433,2021-11-09,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113.0,...,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003),11.0,2021.0
3,32311380,2007-06-18,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27.0,...,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN,6.0,2007.0
4,192799737,2019-01-26,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25.0,...,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045),1.0,2019.0

### Checking for nulls

In [18]:
df.isnull().sum()

ARREST_KEY              0
ARREST_DATE             1
PD_CD                 236
PD_DESC              3115
KY_CD                3115
OFNS_DESC            3115
LAW_CODE              119
LAW_CAT_CD           6817
ARREST_BORO             1
ARREST_PRECINCT         1
JURISDICTION_CODE       7
AGE_GROUP              18
PERP_SEX                1
PERP_RACE               1
X_COORD_CD              2
Y_COORD_CD              2
Latitude                2
Longitude               2
Lon_Lat                 2
month                   1
year                    1
dtype: int64

In [25]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,month,year
0,236791704,2021-11-22,581.0,NaN,NaN,NaN,PL 2225001,M,M,28.0,...,45-64,M,BLACK,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056),11.0,2021.0
1,237354740,2021-12-04,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41.0,...,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034),12.0,2021.0
2,236081433,2021-11-09,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113.0,...,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003),11.0,2021.0
3,32311380,2007-06-18,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27.0,...,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN,6.0,2007.0
4,192799737,2019-01-26,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25.0,...,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045),1.0,2019.0

In [28]:
df_null_ = df.loc[df['PD_CD'].isnull()]

In [30]:
df_null_

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,month,year
5,193260691,2019-02-06,NaN,NaN,NaN,NaN,PL 2203400,F,M,14.0,...,25-44,M,UNKNOWN,986685.0,215375.0,40.757839,-73.991212,POINT (-73.99121211099998 40.75783900300007),2.0,2019.0
11,221756278,2020-12-12,NaN,NaN,NaN,NaN,PL 2203400,F,M,23.0,...,25-44,M,WHITE HISPANIC,999998.0,226211.0,40.787567,-73.943132,POINT (-73.94313233199995 40.78756730100001),12.0,2020.0
33,237302061,2021-12-03,NaN,NaN,NaN,NaN,PL 2203400,F,M,14.0,...,25-44,M,BLACK HISPANIC,986195.0,213562.0,40.752863,-73.992981,POINT (-73.99298133199994 40.752862899000036),12.0,2021.0
63,188086111,2018-09-27,NaN,NaN,NaN,NaN,NaN,NaN,B,50.0,...,25-44,M,WHITE HISPANIC,1012688.0,270928.0,40.910270,-73.897117,POINT (-73.89711662799994 40.91027045300007),9.0,2018.0
105,191943063,2019-01-06,NaN,NaN,NaN,NaN,PL 2203400,F,M,9.0,...,25-44,M,WHITE,990294.0,203412.0,40.725002,-73.978196,POINT (-73.97819586899993 40.72500181100003),1.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920955,10169991,2006-01-24,NaN,NaN,NaN,NaN,NaN,NaN,K,68.0,...,45-64,M,WHITE HISPANIC,978016.0,171958.0,40.638668,-74.022463,POINT (-74.02246340399995 40.638667594000026),1.0,2006.0
931230,10095812,2006-01-14,NaN,NaN,NaN,NaN,NaN,NaN,Q,105.0,...,NaN,M,BLACK,1057900.0,181431.0,40.664365,-73.734528,POINT (-73.73452769499994 40.66436480200008),1.0,2006.0
934681,10226510,2006-01-27,NaN,NaN,NaN,NaN,NaN,NaN,K,77.0,...,25-44,M,BLACK,997186.0,185341.0,40.675394,-73.953366,POINT (-73.95336558199995 40.67539374600005),1.0,2006.0
944391,10046448,2006-01-11,NaN,NaN,NaN,NaN,NaN,NaN,K,77.0,...,18-24,M,BLACK,1005861.0,184889.0,40.674136,-73.922093,POINT (-73.92209260899993 40.674136181000044),1.0,2006.0
1049992,17029498,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Checking for mixed Data Types

In [34]:
for col in df.columns.tolist(): 
    weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len(df[weird]) > 0:
        print (col)

ARREST_DATE
PD_DESC
OFNS_DESC
LAW_CODE
LAW_CAT_CD
ARREST_BORO
AGE_GROUP
PERP_SEX
PERP_RACE
Lon_Lat

### Dropped Columns I didnt't need for my analysis

In [38]:
df = df.drop(columns = ['LAW_CODE'])
df = df.drop(columns = ['PD_CD'])
df = df.drop(columns = ['KY_CD'])  
df = df.drop(columns = ['LAW_CAT_CD'])
df = df.drop(columns = ['Lon_Lat'])

KeyError: "['LAW_CODE'] not found in axis"

In [39]:
df = df.drop(columns = ['ARREST_DATE'])

In [42]:
df = df.drop(columns = ['X_COORD_CD'])
df = df.drop(columns = ['Y_COORD_CD'])

In [43]:
df.head()

,ARREST_KEY,PD_DESC,OFNS_DESC,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,month,year
0,236791704,NaN,NaN,M,28.0,0.0,45-64,M,BLACK,40.799009,-73.952409,11.0,2021.0
1,237354740,RAPE 3,RAPE,B,41.0,0.0,25-44,M,WHITE HISPANIC,40.816392,-73.895296,12.0,2021.0
2,236081433,"CHILD, ENDANGERING WELFARE",SEX CRIMES,Q,113.0,0.0,25-44,M,BLACK,40.679700,-73.776047,11.0,2021.0
3,32311380,"CONTROLLED SUBSTANCE, POSSESSION 7",DANGEROUS DRUGS,Q,27.0,1.0,18-24,M,BLACK,NaN,NaN,6.0,2007.0
4,192799737,SEXUAL ABUSE,SEX CRIMES,M,25.0,0.0,45-64,M,BLACK,40.800694,-73.941109,1.0,2019.0

In [45]:
for col in df.columns.tolist(): 
    weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len(df[weird]) > 0:
        print (col)

PD_DESC
OFNS_DESC
ARREST_BORO
AGE_GROUP
PERP_SEX
PERP_RACE

## I wanted to take care of the nulls in case they were the cause for the mixed values.

In [54]:
df_null_ = df.loc[df['PD_DESC'].isnull()]

In [55]:
df_null_

,ARREST_KEY,PD_DESC,OFNS_DESC,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,month,year
0,236791704,NaN,NaN,M,28.0,0.0,45-64,M,BLACK,40.799009,-73.952409,11.0,2021.0
5,193260691,NaN,NaN,M,14.0,0.0,25-44,M,UNKNOWN,40.757839,-73.991212,2.0,2019.0
6,237291769,NaN,NaN,Q,115.0,0.0,25-44,M,BLACK,40.772056,-73.876224,12.0,2021.0
11,221756278,NaN,NaN,M,23.0,0.0,25-44,M,WHITE HISPANIC,40.787567,-73.943132,12.0,2020.0
31,189176315,NaN,NaN,M,28.0,1.0,25-44,M,BLACK,40.807775,-73.945470,10.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048638,172390475,NaN,NaN,Q,103.0,0.0,25-44,M,BLACK,40.702482,-73.799922,12.0,2017.0
1048730,171684376,NaN,NaN,B,41.0,0.0,25-44,M,BLACK,40.816392,-73.895296,11.0,2017.0
1048885,169350744,NaN,NaN,B,40.0,0.0,18-24,M,WHITE HISPANIC,40.816089,-73.917689,9.0,2017.0
1049817,171677062,NaN,NaN,M,25.0,0.0,45-64,M,WHITE HISPANIC,40.800694,-73.941109,11.0,2017.0
1049992,17029498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### I changed the description and offense name to unknown and dropped the other Nulls because the amount was small compared to the data

In [60]:
df['PD_DESC'].fillna('Unknown', inplace=True)

In [61]:
df_null_ = df.loc[df['PD_DESC'].isnull()]

In [62]:
df['OFNS_DESC'].fillna('Unknown', inplace=True)

In [63]:
df.isnull().sum()

ARREST_KEY            0
PD_DESC               0
OFNS_DESC             0
ARREST_BORO           1
ARREST_PRECINCT       1
JURISDICTION_CODE     7
AGE_GROUP            18
PERP_SEX              1
PERP_RACE             1
Latitude              2
Longitude             2
month                 1
year                  1
dtype: int64

In [64]:
df_null_ = df.loc[df['AGE_GROUP'].isnull()]

In [65]:
df_null_

,ARREST_KEY,PD_DESC,OFNS_DESC,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,month,year
520710,10837169,Unknown,Unknown,Q,101.0,0.0,NaN,M,BLACK,40.604841,-73.756823,4.0,2006.0
776452,16649554,Unknown,Unknown,Q,114.0,97.0,NaN,M,WHITE HISPANIC,40.755916,-73.921495,6.0,2006.0
779429,16863209,"STOLEN PROPERTY 3,POSSESSION",POSSESSION OF STOLEN PROPERTY 5,M,28.0,0.0,NaN,F,BLACK,40.810476,-73.951880,6.0,2006.0
783729,16734607,"PUBLIC ADMINISTATION,UNCLASS MISDEMEAN 4",OFFENSES AGAINST PUBLIC ADMINISTRATION,M,32.0,0.0,NaN,F,BLACK,40.815930,-73.945167,6.0,2006.0
785558,16871494,"MARIJUANA, POSSESSION 4 & 5",DANGEROUS DRUGS,B,40.0,2.0,NaN,M,WHITE HISPANIC,40.803986,-73.915666,6.0,2006.0
793151,16540845,"MARIJUANA, POSSESSION 4 & 5",DANGEROUS DRUGS,B,41.0,0.0,NaN,M,WHITE HISPANIC,40.814115,-73.885401,5.0,2006.0
804589,15425186,SODOMY 1,SEX CRIMES,M,32.0,0.0,NaN,M,BLACK,40.815732,-73.945420,5.0,2006.0
809154,11089748,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,Q,114.0,0.0,NaN,M,WHITE HISPANIC,40.759613,-73.909640,4.0,2006.0
815536,11089751,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,Q,114.0,0.0,NaN,M,WHITE HISPANIC,40.759613,-73.909640,4.0,2006.0
818190,11089761,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,Q,114.0,0.0,NaN,F,WHITE HISPANIC,40.759613,-73.909640,4.0,2006.0
822978,11068173,"CONTROLLED SUBSTANCE, POSSESSION 7",DANGEROUS DRUGS,B,40.0,2.0,NaN,M,BLACK,40.822861,-73.919165,4.0,2006.0
836143,10979250,RESISTING ARREST,OFFENSES AGAINST PUBLIC ADMINISTRATION,Q,106.0,0.0,NaN,M,ASIAN / PACIFIC ISLANDER,40.683323,-73.822738,4.0,2006.0
851526,10750426,Unknown,Unknown,B,40.0,0.0,NaN,F,BLACK,40.808237,-73.914863,3.0,2006.0
901006,10411772,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,B,42.0,0.0,NaN,M,BLACK,40.840812,-73.904806,2.0,2006.0
931230,10095812,Unknown,Unknown,Q,105.0,0.0,NaN,M,BLACK,40.664365,-73.734528,1.0,2006.0
931505,10087933,"CONTROLLED SUBSTANCE,INTENT TO SELL 3",DANGEROUS DRUGS,B,44.0,0.0,NaN,M,BLACK,40.828875,-73.915147,1.0,2006.0
939660,10268613,"BURGLARY,UNCLASSIFIED,UNKNOWN TIME",BURGLARY,B,44.0,0.0,NaN,M,BLACK,40.826282,-73.920708,2.0,2006.0
1049992,17029498,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df.dropna(inplace = True)

### Now I have 0 Nulls

In [67]:
df.isnull().sum()

ARREST_KEY           0
PD_DESC              0
OFNS_DESC            0
ARREST_BORO          0
ARREST_PRECINCT      0
JURISDICTION_CODE    0
AGE_GROUP            0
PERP_SEX             0
PERP_RACE            0
Latitude             0
Longitude            0
month                0
year                 0
dtype: int64

### Just As I supected the Null Values were the cause of the mix data types

In [69]:
for col in df.columns.tolist(): 
    weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len(df[weird]) > 0:
        print (col)

In [70]:
df.describe()

,ARREST_KEY,ARREST_PRECINCT,JURISDICTION_CODE,Latitude,Longitude,month,year
count,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06
mean,1.563895e+08,6.210536e+01,1.864059e+00,4.073979e+01,-7.392409e+01,6.053963e+00,2.015976e+03
std,8.149682e+07,3.481660e+01,1.189387e+01,1.215918e-01,7.564274e-02,3.417070e+00,5.719673e+00
min,9.926901e+06,1.000000e+00,0.000000e+00,4.049891e+01,-7.425438e+01,1.000000e+00,2.006000e+03
25%,1.714573e+08,3.400000e+01,0.000000e+00,4.067742e+01,-7.397355e+01,3.000000e+00,2.017000e+03
50%,1.907908e+08,6.100000e+01,0.000000e+00,4.073708e+01,-7.392618e+01,6.000000e+00,2.018000e+03
75%,2.104762e+08,9.000000e+01,0.000000e+00,4.081485e+01,-7.388151e+01,9.000000e+00,2.020000e+03
max,2.385139e+08,1.230000e+02,9.700000e+01,5.965727e+01,-7.368178e+01,1.200000e+01,2.021000e+03

### I wanted to change the types of the code columns so it wouldn't show up in the describe summary

In [71]:
df['ARREST_KEY']= df['ARREST_KEY'].astype(object)

In [72]:
df.describe()

,ARREST_PRECINCT,JURISDICTION_CODE,Latitude,Longitude,month,year
count,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06,1.049968e+06
mean,6.210536e+01,1.864059e+00,4.073979e+01,-7.392409e+01,6.053963e+00,2.015976e+03
std,3.481660e+01,1.189387e+01,1.215918e-01,7.564274e-02,3.417070e+00,5.719673e+00
min,1.000000e+00,0.000000e+00,4.049891e+01,-7.425438e+01,1.000000e+00,2.006000e+03
25%,3.400000e+01,0.000000e+00,4.067742e+01,-7.397355e+01,3.000000e+00,2.017000e+03
50%,6.100000e+01,0.000000e+00,4.073708e+01,-7.392618e+01,6.000000e+00,2.018000e+03
75%,9.000000e+01,0.000000e+00,4.081485e+01,-7.388151e+01,9.000000e+00,2.020000e+03
max,1.230000e+02,9.700000e+01,5.965727e+01,-7.368178e+01,1.200000e+01,2.021000e+03

In [73]:
df['JURISDICTION_CODE']= df['JURISDICTION_CODE'].astype(object)

In [74]:
df.describe()

       ARREST_PRECINCT      Latitude     Longitude         month          year
count     1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06
mean      6.210536e+01  4.073979e+01 -7.392409e+01  6.053963e+00  2.015976e+03
std       3.481660e+01  1.215918e-01  7.564274e-02  3.417070e+00  5.719673e+00
min       1.000000e+00  4.049891e+01 -7.425438e+01  1.000000e+00  2.006000e+03
25%       3.400000e+01  4.067742e+01 -7.397355e+01  3.000000e+00  2.017000e+03
50%       6.100000e+01  4.073708e+01 -7.392618e+01  6.000000e+00  2.018000e+03
75%       9.000000e+01  4.081485e+01 -7.388151e+01  9.000000e+00  2.020000e+03
max       1.230000e+02  5.965727e+01 -7.368178e+01  1.200000e+01  2.021000e+03

In [76]:
df.columns

Index(['ARREST_KEY', 'PD_DESC', 'OFNS_DESC', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'Latitude',
       'Longitude', 'month', 'year'],
      dtype='object')

In [78]:
df.rename(columns = {'PD_DESC' : 'Offense_Category'}, inplace = True) 
df.rename(columns = {'OFNS_DESC' : 'Offense_Description'}, inplace = True)
df.rename(columns = {'month' : 'Month'}, inplace = True)
df.rename(columns = {'year' : 'Year'}, inplace = True)

In [79]:
df.columns

Index(['ARREST_KEY', 'Offense_Category', 'Offense_Description', 'ARREST_BORO',
       'ARREST_PRECINCT', 'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX',
       'PERP_RACE', 'Latitude', 'Longitude', 'Month', 'Year'],
      dtype='object')

In [80]:
df.head()

,ARREST_KEY,Offense_Category,Offense_Description,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,Month,Year
0,236791704,Unknown,Unknown,M,28.0,0.0,45-64,M,BLACK,40.799009,-73.952409,11.0,2021.0
1,237354740,RAPE 3,RAPE,B,41.0,0.0,25-44,M,WHITE HISPANIC,40.816392,-73.895296,12.0,2021.0
2,236081433,"CHILD, ENDANGERING WELFARE",SEX CRIMES,Q,113.0,0.0,25-44,M,BLACK,40.679700,-73.776047,11.0,2021.0
4,192799737,SEXUAL ABUSE,SEX CRIMES,M,25.0,0.0,45-64,M,BLACK,40.800694,-73.941109,1.0,2019.0
5,193260691,Unknown,Unknown,M,14.0,0.0,25-44,M,UNKNOWN,40.757839,-73.991212,2.0,2019.0

In [81]:
df.describe()

       ARREST_PRECINCT      Latitude     Longitude         Month          Year
count     1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06
mean      6.210536e+01  4.073979e+01 -7.392409e+01  6.053963e+00  2.015976e+03
std       3.481660e+01  1.215918e-01  7.564274e-02  3.417070e+00  5.719673e+00
min       1.000000e+00  4.049891e+01 -7.425438e+01  1.000000e+00  2.006000e+03
25%       3.400000e+01  4.067742e+01 -7.397355e+01  3.000000e+00  2.017000e+03
50%       6.100000e+01  4.073708e+01 -7.392618e+01  6.000000e+00  2.018000e+03
75%       9.000000e+01  4.081485e+01 -7.388151e+01  9.000000e+00  2.020000e+03
max       1.230000e+02  5.965727e+01 -7.368178e+01  1.200000e+01  2.021000e+03

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1049968 entries, 0 to 1049991
Data columns (total 13 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ARREST_KEY           1049968 non-null  object
 1   Offense_Category     1049968 non-null  object
 2   Offense_Description  1049968 non-null  object
 3   ARREST_BORO          1049968 non-null  object
 4   ARREST_PRECINCT      1049968 non-null  float64
 5   JURISDICTION_CODE    1049968 non-null  object
 6   AGE_GROUP            1049968 non-null  object
 7   PERP_SEX             1049968 non-null  object
 8   PERP_RACE            1049968 non-null  object
 9   Latitude             1049968 non-null  float64
 10  Longitude            1049968 non-null  float64
 11  Month                1049968 non-null  float64
 12  Year                 1049968 non-null  float64
dtypes: float64(5), object(8)
memory usage: 112.1+ MB

In [83]:
df['JURISDICTION_CODE'].value_counts()

JURISDICTION_CODE
0.0     914887
1.0      49144
2.0      46509
97.0     11600
3.0      10813
72.0      2972
4.0       2721
69.0      2691
11.0      1562
6.0       1562
73.0      1237
15.0      1185
7.0        741
71.0       724
14.0       666
87.0       170
9.0        148
16.0       141
85.0       119
12.0       108
88.0       104
13.0        78
79.0        62
74.0        14
76.0         5
8.0          5
Name: count, dtype: int64

In [84]:
df['Offense_Category'].value_counts()

Offense_Category
ASSAULT 3                         110805
ASSAULT 2,1,UNCLASSIFIED           53882
LARCENY,PETIT FROM OPEN AREAS,     46085
TRAFFIC,UNCLASSIFIED MISDEMEAN     40041
MARIJUANA, POSSESSION 4 & 5        34653
                                   ...
FIREARMS LICENSING LAWS                1
LOITERING FOR PROSTITUTION OR          1
UNLAWFUL POSS. WEAPON UPON SCH         1
NYC UNCLASSIFIED WARRANT               1
USING SLUGS, 2ND                       1
Name: count, Length: 408, dtype: int64

In [85]:
df['Offense_Description'].value_counts()

Offense_Description
DANGEROUS DRUGS                      146277
ASSAULT 3 & RELATED OFFENSES         143721
PETIT LARCENY                         76584
FELONY ASSAULT                        70068
MISCELLANEOUS PENAL LAW               52699
                                      ...
DISRUPTION OF A RELIGIOUS SERVICE         3
NYS LAWS-UNCLASSIFIED VIOLATION           2
FELONY SEX CRIMES                         2
KIDNAPPING AND RELATED OFFENSES           2
UNLAWFUL POSS. WEAP. ON SCHOOL            1
Name: count, Length: 85, dtype: int64

In [86]:
df.groupby('ARREST_BORO').agg({'ARREST_KEY': ['mean', 'min', 'max']})

                   ARREST_KEY
                         mean      min        max
ARREST_BORO
B            156396527.023715  9929788  238513857
K            155618756.716458  9926901  238513884
M            153302207.997131  9926993  238513898
Q            159653054.407636  9927084  238513928
S            164649731.018037  9930318  238498344

In [87]:
df.describe()

       ARREST_PRECINCT      Latitude     Longitude         Month          Year
count     1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06  1.049968e+06
mean      6.210536e+01  4.073979e+01 -7.392409e+01  6.053963e+00  2.015976e+03
std       3.481660e+01  1.215918e-01  7.564274e-02  3.417070e+00  5.719673e+00
min       1.000000e+00  4.049891e+01 -7.425438e+01  1.000000e+00  2.006000e+03
25%       3.400000e+01  4.067742e+01 -7.397355e+01  3.000000e+00  2.017000e+03
50%       6.100000e+01  4.073708e+01 -7.392618e+01  6.000000e+00  2.018000e+03
75%       9.000000e+01  4.081485e+01 -7.388151e+01  9.000000e+00  2.020000e+03
max       1.230000e+02  5.965727e+01 -7.368178e+01  1.200000e+01  2.021000e+03